body,div,dl,dt,ul,li,h1,h2,h3,h4,h5,h6,input,form,a,p,textarea{margin:0;padding:0}
ol,ul,li{list-style:none;}
a{text-decoration:none}
img{border:none;display:block;}
button {
  border: none;
  outline: none;
}

.App {
  width: 100vw;
}

/*.Head {
  color: white;
  background: #2f2f2f;
  height: 8vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 9999;
}*/
/*
.App {
  display: flex;
  flex-direction: column;
}*/

.Display {
  height: 40vh;
  width: 100vw;
  position: fixed;
  z-index: 2;
}

.Display img {
  width: 100%;
  height: 100%;
}

.Tabs {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  list-style-type: none;
  height: 7vh;
  position: fixed;
  width: 100%;
  top: 33vh;
  z-index: 9999;
  background: black;
  opacity: 0.5;
}

.Tabs li {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.HeadIcon {
  padding-top: 1.5vh;
  width: 50%;
}

.HeadIcon.active {
  border-bottom: 3px solid #df641e;
}

.HeadIcon img {
  display: block;
  margin: 0 auto;
  height: 3.6vh;
  width: 80%;
}

.Menu {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 40vh;
}

.Menu .placeholder {
  height: 4rem;
}

.MenuHead {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  padding: 1rem;
}

.MenuHead > main {

}
.MenuHead header {
  font-size: 1.5rem;
}
.MenuHead span {
  color: #df641e;
  font-size: 2rem;
  font-weight: 900;
}

.MenuHead aside {
  display: flex;
  flex-direction: column;
}

.MenuHead aside img {
  height: 1.5rem;
  width: 1.3rem;
  margin: 0 0 1rem 2rem;
}

.MenuHead aside button {
  height: 1.4rem;
  width: 4rem;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 5px;
  background: white;
  outline: none;
}

.MenuList {
  display: flex;
  flex-direction: column;
}

.MenuList .Item {
  display: flex;
  justify-content: space-between;
  height: 3rem;
  line-height: 3rem;
  padding:0 1rem 0 1rem;
  font-size: 1.2rem;
  font-weight: 800;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.MenuItem {
  background: lightyellow;
}

.MenuList li {
  position: relative;
}

.ArrowIconDown {
  margin-top: 1.2rem;
  height: 1rem;
  width: 1.5rem;
}

.ArrowIconRight {
  margin-top: 0.8rem;
  height: 1.5rem;
  width: 1rem;
}

.HiddenIcon {
  height: 1rem;
}

.MenuItem.expanded {
  color: #df641e;
}

.SubList aside {
  position: absolute;
  left: 75vw;
  top: 1rem;
}

.ListItem.expanded {
  color: #df641e;
}

.Selectables {
  display: flex;
}

.Selectables li {
  margin: 0.6rem;
}

.Selectables li img {
  height: 4rem;
  width: 4rem;
  border: 2px solid white;
}

.Selectables li img.selected {
  border: 2px solid #df641e;
}

.Footer {
  background: white;
  position: fixed;
  z-index: 9999;
  bottom: 0;
  width: 100vw;
  height: 9vh;
  display: flex;
}

.Footer > section {
  width: 17vw;
  padding-top: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: rgba(0, 0, 0, 0.56);
  font-size: 0.8rem;
}

.Footer .Footer-line {
  align-self: flex-start;
  height: 4.5vh;
  width: 2.5px;
  background: grey;
}

.Footer img {
  height: 1.6rem;
}

.Footer button {
  flex-grow: 1;
  flex-shrink: 1;
  width: 30vw;
  color: white;
  font-size: 1.2rem;
}

.Footer button:active {
  color: grey;
}

.Footer button:nth-child(4) {
  background: #ff9402;
}

.Footer button:nth-child(5) {
  background: #dd2727;

}
